#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
}

#gridContainer div {
  width: 25vw;
  height: 25vw;

}

.hover {
  background-color: black;
}
